<ion-item lines="none" class="daySelecter">
  <ion-button (click)="prevDay()" fill="clear"><ion-icon name="chevron-back-circle-outline"></ion-icon></ion-button>
  <ion-datetime
    [ngModel]="date.toISOString()"
    (ngModelChange)="setDateFromISOString($event)"
    display-format="DD.MM.YYYY"
    picker-format="DD.MM.YYYY"
  ></ion-datetime>
  <ion-button (click)="nextDay()" fill="clear"><ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-button>
</ion-item>
<div (window:resize)="onResize($event)" mwlDroppable (drop)="externalDrop($event.dropData.event)" class="calendarDiv">
  <div *ngIf="isToday(date)" class="planDay">
    <h3>Plan today</h3>
    <div class="planActivities">
      <app-activity-button
        *ngFor="let act of activities"
        mwlDraggable
        [dropData]="{ event: getPlanEventFromActivity(act) }"
        class="planActivity"
        [activity]="act"
        [active]="false"
      ></app-activity-button>
      <br/>
      <div class="scrollHelper"></div>
    </div>
  </div>
  <mwl-calendar-day-view
    class="adjustedHeightCalendar"
    [ngClass]="{'todayCalendar': isToday(date)}"
    [hourSegmentHeight]="segmentHeight"
    [hourSegments]="4"
    [viewDate]="date"
    [events]="events"
    [minimumEventHeight]="15"
    [dayStartHour]="6"
    [dayEndHour]="24"
    (eventTimesChanged)="eventDropped($event)"
  >
  </mwl-calendar-day-view>
</div>
