<ion-grid>
  <ion-row>
    <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3" *ngFor="let el of this.timeTrackerService.activities | keyvalue;let i=index; trackBy: dataService.trackByID">
    <app-activity-button [activity]="el.value"  [badgeText]="this.timeTrackerService.formatDuration(this.timeTrackerService.getDurationTodayForActivity(el.key))"
      (activityClick)="onActivityButtonClick($event)" (activityHold)="onActivityButtonHold($event)"
      >
    </app-activity-button>
    </ion-col>
    <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3">
      <button class="activityButton ion-activatable ripple-parent"
      (click)="addNewActivity()"
      >
        <ion-icon color="medium" name="add-circle" size="large"></ion-icon>
        <br>
      <ion-label class="activityLabel" color="medium">Add...</ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>