
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pomodoro Options</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="full">
  <ion-list-header lines="full">
    <ion-label color="medium">
      Durations (in minutes)
    </ion-label>
  </ion-list-header>
<ion-item>
  <ion-label position="floating">Work (minutes)</ion-label>
  <ion-input type="number" min="0" [(ngModel)]="workMinutes"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Short Break (minutes)</ion-label>
  <ion-input type="number" min="0" [(ngModel)]="shortBreakMinutes"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Long Break (minutes)</ion-label>
  <ion-input type="number" min="0" [(ngModel)]="longBreakMinutes"></ion-input>
</ion-item>
  <ion-list-header lines="full">
    <ion-label color="medium">
      Other Settings
    </ion-label>
  </ion-list-header>
<ion-item>
  <ion-label position="floating">Work Sessions before Long Break</ion-label>
  <ion-input type="number" min="0" [(ngModel)]="workSessionsBeforeLongBreak"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Show seconds</ion-label>
  <ion-toggle mode="ios" [(ngModel)]="showSeconds"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Show progress bar</ion-label>
  <ion-toggle mode="ios" [(ngModel)]="showProgressBar"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Automatically start timer</ion-label>
  <ion-toggle mode="ios" [(ngModel)]="autoStart"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Automatically finish timer when time is up</ion-label>
  <ion-toggle mode="ios" [(ngModel)]="autoFinish"></ion-toggle>
</ion-item>
</ion-list>
<br>
<br>
<br>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="dismissModal(true)">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>