
<!-- <ion-content #content [scrollEvents]="true" (ionScroll)="onScroll($event)" > -->
<div>
  <app-activity-list></app-activity-list>
<ion-button expand="block" fill="outline" size="medium" (click)="showStatistics()">
  Statistics
  <ion-icon name="stats-chart" slot="end"></ion-icon>
  </ion-button>

  <app-time-tracker-list [limit]="limit"></app-time-tracker-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  
<!-- </ion-content> -->
</div>