<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card  *ngIf="accountService.isLoggedIn()" class="centeredCard">
    <ion-card-header>
      <ion-card-subtitle>{{accountService.getAcc().email}}</ion-card-subtitle>
      <ion-card-title>{{accountService.getAcc().name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="centerContent">
      <ion-item *ngIf="accountService.getAcc().emailVerification" lines="none" class="smallItem">
        <ion-label >Email verified!</ion-label>
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      
      <div *ngIf="!accountService.getAcc().emailVerification">
        <ion-item>
          <ion-label>Email not verified. </ion-label>
          <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
          <ion-button slot="end" color="tertiary" mode="ios"  size="small" routerLink="/register" >Verify...</ion-button>
        </ion-item>
      </div> 
    </ion-card-content>
    <ion-button color="warning" label="Logout" *ngIf="accountService.isLoggedIn()" (click)="logOut()">
      <ion-label>Logout</ion-label>
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-card>



  <ion-card  *ngIf="!accountService.isLoggedIn()" class="centeredCard">
    <ion-card-header>
      <ion-card-title>Login or Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="logIn()" *ngIf="!accountService.isLoggedIn()" >
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input clearOnEdit="false" type="password" formControlName="password" required></ion-input>
        </ion-item>
        <input type="submit" style="display: none" />
        <ion-button  mode="ios" type="submit" color="primary" [disabled]="!loginForm.valid">Login</ion-button>
        <!-- <ion-button color="primary" expand="block" (click)="logIn()">Login</ion-button> -->
      </form>
        <ion-button color="warning" mode="ios"  size="small" *ngIf="!accountService.isLoggedIn()" (click)="resetPassword()">Reset password...</ion-button>
      <br>
      <ion-button color="tertiary" mode="ios" size="small" routerLink="/register" *ngIf="!accountService.isLoggedIn()" >Register...</ion-button>
      <ion-button color="secondary"  mode="ios" size="small" (click)="googleLogin()" *ngIf="!accountService.isLoggedIn()" >
        Login with Google
        <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Failed Requests
      </ion-card-title>
      <ion-button color="danger" size="small" mode="ios" (click)="dataService.clearFailedRequests()"><ion-icon slot="end" name="trash"></ion-icon> Delete All</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let req of dataService.failedRequests">
        <ion-item>
          <ion-icon slot="start" [name]="req.type === 'create' ? 'document-outline' : 'pencil-outline'"></ion-icon>
          <ion-label>
            <h2>{{req.collectionName}}</h2>
            <h3>{{req.dataLocalID}}</h3>
            <p>{{dataService.stringify(req.data)}}</p>
          </ion-label>
          <ion-icon name="refresh-circle-outline" (click)="dataService.retryRequest(req)"></ion-icon>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="dataService.removeFailedRequest(req.ID)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sync settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Offline mode</ion-label>
        <ion-toggle [(ngModel)]="dataService.offlineMode" (ngModelChange)="dataService.saveOfflineModeSetting()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Send all offline-only data to server</ion-label>
        <ion-button color="tertiary" mode="ios" size="small" (click)="dataService.sendAllOfflineToServer()" [disabled]="this.dataService.offlineMode">Send to server</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Delete server copy of timetracked. Your local copy is uneffected.</ion-label>
        <ion-button color="danger" mode="ios" size="small" (click)="dataService.deleteAllFromServer('timetracked')" [disabled]="this.dataService.offlineMode">Delete timetracked on server</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Delete server copy of activities. Your local copy is uneffected.</ion-label>
        <ion-button color="danger" mode="ios" size="small" (click)="dataService.deleteAllFromServer('activities')" [disabled]="this.dataService.offlineMode">Delete activities on server</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Export</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="exportFile()">
        Export
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Import</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input type="file" #fileInputRef>
      <br>
      <ion-button (click)="importFile()">
        Import
      </ion-button>
      <a #exportDownload></a>
    </ion-card-content>
  </ion-card>

</ion-content>
