
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="timeOptions" (ngModelChange)="updateDataset()" value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="custom">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="customDatePickers" *ngIf="this.timeOptions === 'custom'">
      <ion-row>
        <ion-col col-2>
          <ion-item>
            <ion-label>Start</ion-label>
            <ion-datetime picker-format="DD.MM.YYYY | HH:mm" display-format="DD.MM" [(ngModel)]="customDateStart" (ngModelChange)="updateDataset()"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime picker-format="DD.MM.YYYY | HH:mm" display-format="DD.MM" [(ngModel)]="customDateEnd" (ngModelChange)="updateDataset()"></ion-datetime>
        </ion-item>
        </ion-col>
      </ion-row>
  </div>
  <div class="filter">
  <ion-item>
    <ion-label>Filter by tags</ion-label>
    <ion-toggle [(ngModel)]="filterTags" (ngModelChange)="updateDataset()"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="filterTags" class="filterTags">
    <div>
      <ion-chip *ngFor="let tag of tagsActivated;" color="success" (click)="toggleActivated(tag)">{{tag}}</ion-chip>
      <ion-chip *ngFor="let tag of tagsDeactived;" color="warning" (click)="toggleActivated(tag)">{{tag}}</ion-chip>
    </div>
  </ion-item>
</div>
<div class="centerCards">
  <ion-card class="chartCard">
    <ion-card-header>
      <ion-card-title>Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content  class="chartCardContent">
      <div class="chartWrapper">
        <ngx-charts-bar-vertical 
        [results]="data"
        [customColors]="customColors"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'duration (min)'"
        [xAxis]="true"
        [yAxis]="true"
        [trimXAxisTicks]="true"
        [maxXAxisTickLength]="10"
        [legendPosition]="BELOW" 
        >
      </ngx-charts-bar-vertical>
    </div>
  </ion-card-content>
  </ion-card>


  <ion-card class="chartCard">
    <ion-card-header>
      <ion-card-title>Pie Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content class="chartCardContent">
      <div class="chartWrapper">
        <ngx-charts-pie-chart
          [results]="data"
          [customColors]="customColors"
          [legend]="true"
          [legendPosition]="BELOW"
          [labels]="false">
        </ngx-charts-pie-chart>
      </div>
  </ion-card-content>
  </ion-card>

</div>
</ion-content>