<div class="outerActivityButtonContainer">
  <button
    class="activityButton ion-activatable ripple-parent"
    [ngClass]="{ activeButton: active }"
    (click)="onClicked()"
    (contextmenu)="onHold($event)"
  >
    <ion-badge class="topRightBadge">{{ badgeText }}</ion-badge>
    <ion-icon [ngStyle]="{ color: activity.color }" [name]="activity.icon" size="large"></ion-icon>
    <br />
    <ion-label class="activityLabel">{{ activity.label }}</ion-label>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </button>
</div>
