
<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{this.newActivity ?  "Create new Activity" : "Edit Activity"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="previewResult">
    <app-activity-button [activity]="activity" [active]="false"></app-activity-button>
    </div>
  <ion-list lines="full">
<ion-item>
  <ion-label position="fixed">Label</ion-label>
  <ion-input type="text" [(ngModel)]="activity.label" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Color</ion-label>
  <ion-input type="color" [(ngModel)]="activity.color"></ion-input>
</ion-item>
<ion-item disabled=true>
  <ion-label position="fixed">Icon</ion-label>
  <ion-input type="text" [(ngModel)]="activity.icon"></ion-input>
  <ion-icon name="search" color="medium" slot="end" (click)="showIconPicker()"></ion-icon>
</ion-item>
</ion-list>
<ion-item>Search for an Icon:</ion-item>
<app-icon-selector (iconSelected)="setIcon($event)"></app-icon-selector>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="dismissModal(true)">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>