
<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{this.newActivity ?  "Create new Activity" : "Edit Activity"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="previewResult">
    <app-activity-button [activity]="activity" [active]="false"></app-activity-button>
    </div>
  <ion-list lines="full">
<ion-item>
  <ion-label position="fixed">Label</ion-label>
  <ion-input type="text" [(ngModel)]="activity.label" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Color</ion-label>
  <ion-input type="color" [(ngModel)]="activity.color"></ion-input>
</ion-item>
<ion-item lines="top">
  <ion-label position="fixed">Tags</ion-label>
  <ion-input #tagInput type="text" (keydown.ENTER)="addTag(tagInput.value.toString());tagInput.value = ''"></ion-input>
  <ion-button [disabled]="!tagInput.value || tagInput.value.toString().length < 1" (click)="addTag(tagInput.value.toString());tagInput.value = ''">Add</ion-button>
  </ion-item>
<ion-item lines="none" >
  <div class="tagsDiv">
  <ion-chip color="primary" outline="true" *ngFor="let tag of activity.tags; let i = index">{{tag}}  <ion-icon name="close-circle" (click)="activity.tags.splice(i,1)"></ion-icon></ion-chip>
</div>
</ion-item>
<!-- <ion-item disabled=true>
  <ion-label position="fixed">Icon</ion-label>
  <ion-input type="text" [(ngModel)]="activity.icon"></ion-input>
</ion-item> -->
</ion-list>
<ion-item>Search for an Icon:</ion-item>
<app-icon-selector (iconSelected)="setIcon($event)"></app-icon-selector>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="dismissModal(true)">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>