.activityButton{
  text-align: center;
  // background-color:	var(--ion-color-primary);
  // border: 1mm black solid;
  width: 100px;
  background-color: #00000000;
}

.previewResult {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  transform:scale(2)
}

.tagsDiv{
  overflow-x: auto;
  white-space: nowrap;
}