<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{list._id}}</ion-card-subtitle>
    <ion-card-title>{{list.name}}
      <ion-button style="float: right" fill="clear" size="small" color="dark" (click)="showActionSheet($event)"><ion-icon name="ellipsis-vertical-outline" slot="icon-only" ></ion-icon></ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <app-todo *ngFor="let todo of todos;trackBy:getTodoId"  [todo]="todo" [listid]="list._id" ></app-todo>
    <ion-item>
      <!-- <ion-label color="primary">Add new...</ion-label> -->

      <ion-button fill="clear" size="default" slot="end" (click)="addTodo()"><ion-icon name="add-circle-outline" slot="icon-only" ></ion-icon></ion-button>
      <ion-input color="primary" placeholder="Add new..." [(ngModel)]="newTodoInput" (keyup.enter)="addTodo()" ></ion-input>
      <!-- <ion-fab-button><ion-icon name="add-circle-outline" slot="icon-only"></ion-icon></ion-fab-button> -->
    </ion-item>
  </ion-card-content>
</ion-card>