<ion-card>
  <ion-card-header>
    <ion-card-title>Pomodoro</ion-card-title>
    <ion-card-subtitle
      >{{ this.status?.toString() }} {{(this.status.toString() == 'Work')? '('+pomodoros+')' : ''}}
      {{ this.isPaused ? "- Paused" : "" }}</ion-card-subtitle
    >
  </ion-card-header>
  <ion-card-content>
    <h1 class="status-big" [style]="isPaused ? 'color: dimgray' : ''">
      {{ this.status?.toString() }}
    </h1>
    <h1 *ngIf="showSeconds">
      {{
        (currDuration - timePassed) / 60 -
          ((currDuration - timePassed) % 60) / 60 | number: "1.0-0"
      }}
      min {{ (currDuration - timePassed) % 60 | number: "2.0-0" }} sec
    </h1>
    <h1 *ngIf="!showSeconds">
      {{
        (currDuration - timePassed) / 60 -
          ((currDuration - timePassed) % 60) / 60 | number: "1.0-0"
      }}
      min
    </h1>
    <ion-button expand="block" size="large"
      mat-stroked-button
      [color]="this.isPaused ? 'primary' : (this.status?.toString() === 'Break'? 'success' : 'secondary')"
      [fill]="this.isPaused ? 'solid' : 'solid'"
      (click)="buttonClick()"
      mode="ios"
    >
      {{ this.isPaused ? "Resume" : "Pause" }}
    </ion-button>
    <ion-progress-bar *ngIf="showProgressBar"
    [value]="(this.timePassed / this.currDuration)"
    [ngClass]="this.status?.toString() === 'Break' ? 'onBreak' : 'working'" 
    ></ion-progress-bar>

  </ion-card-content>
  <app-svg-clock mat-card-image [isDown]="!isPaused"></app-svg-clock>
  <div>
    <ion-button mat-stroked-button color="danger" (click)="clear()">Clear</ion-button>
    <ion-button mat-stroked-button (click)="showOptions()" color="tertiary">Options</ion-button>
    <ion-button mat-stroked-button class="right-button" (click)="timeUp()">Skip</ion-button>
  </div>
</ion-card>

<div id="pomodoroHistory">
  <ion-item><h2>History</h2></ion-item>
<ion-chip *ngFor="let el of timerHistory;" (click)="showHistoryInfo(el)" [color]="el.type.toString() === 'Break' ? 'success' : 'primary'" [outline]="el.endDate != null" [ngStyle]="{width: (el.duration/(10*60))*50+80+'px'}">
  <ion-label [color]="el.endDate ? '' : 'dark'">{{el.duration/60}}</ion-label>
  <ion-icon name="timer-outline" [color]="el.endDate ? '' : 'dark'"></ion-icon>
  <ion-progress-bar *ngIf="showProgressBar && !el.endDate " class="chipProgress"
  [value]="(this.timePassed / this.currDuration)"
  [color]="el.type.toString() === 'Break' ? 'success' : 'secondary'"
  ></ion-progress-bar>
</ion-chip>
<br>
<div class="centered">
  <ion-button class="centered" fill="outline" size="small" color="danger" mat-stroked-button mode="ios" (click)="this.timerHistory.splice(0,this.timerHistory.length-1)">
  Delete History
  </ion-button>
</div>
</div>