<ion-card>
  <ion-card-header>
    <ion-card-title>Pomodoro</ion-card-title>
    <ion-card-subtitle>Completed Pomodoros: {{pomodoros-1}}</ion-card-subtitle
    >
  </ion-card-header>
  <ion-card-content>
    <h1 class="status-big" [style]="isPaused ? 'color: dimgray' : ''">
      {{ this.status?.toString() }}
    </h1>
    <h1 *ngIf="showSeconds" [ngClass]="{'overtime': this.isOvertime}">
      {{this.getMinLeft() | number: "1.0-0"}} min {{this.getSecLeft() | number: "1.0-0"}} sec
    </h1>
    <h1 *ngIf="!showSeconds" [ngClass]="{'overtime': this.isOvertime}">
      {{
        (currDuration - timePassed) / 60 -
          ((currDuration - timePassed) % 60) / 60 | number: "1.0-0"
      }}
      min
    </h1>
    <ion-button expand="block" size="large"
      
      [color]="this.isPaused ? 'primary' : (this.status?.toString() === 'Break'? 'success' : 'secondary')"
      [fill]="this.isPaused ? 'solid' : 'solid'"
      (click)="buttonClick()"
      mode="ios"
    >
      {{ this.isPaused ? "Resume" : (this.isOvertime ? 'Finish' : 'Pause') }}
    </ion-button>
    <ion-progress-bar *ngIf="showProgressBar"
    [value]="this.isOvertime ? '0.9' : (this.timePassed / this.currDuration)"
    [ngClass]="this.status?.toString() === 'Break' ? 'onBreak' : 'working'" 
    [buffer]="this.isOvertime ? '0.1' : '1'"
    ></ion-progress-bar>

  </ion-card-content>
  <app-svg-clock mat-card-image [isDown]="!isPaused"></app-svg-clock>
  <div>
    <ion-button mode="ios" size="small" color="danger" (click)="clear()">Clear</ion-button>
    <ion-button mode="ios" size="small"(click)="showOptions()" color="tertiary">Options</ion-button>
    <ion-button mode="ios" size="small" class="right-button" (click)="nextTimer()">Skip</ion-button>
    <ion-button mode="ios" size="small" class="right-button" color="secondary" (click)="editCurrent()">Edit</ion-button>
  </div>
</ion-card>

<div class="outerPomodoroHistory">
  <ion-item lines="full">
    <h3>History</h3>
    <ion-button slot="end" class="centered" fill="none" size="small" (click)="this.deleteHistory()">
      <ion-icon name="trash" slot="icon-only"  color="danger"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="none" (click)="toggleExpandHistory()">
        <ion-icon [name]="this.historyExpanded ? 'contract' : 'expand'" slot="icon-only">
      </ion-icon>
      </ion-button>
  </ion-item>
  <div class="pomodoroHistory" #pomodoroHistoryDiv [ngClass]="{'historyExpanded': this.historyExpanded}">
    <app-timer-history-chip *ngFor="let el of timerHistory;"
      [timerData]="el" [progress]="el.endDate ? 1 : (this.timePassed / this.currDuration)"
      [showProgress]="this.showProgressBar">
    </app-timer-history-chip>
  </div>
  </div>
