<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Password Recovery
    </ion-title>
    <ion-buttons slot="end" routerLink="/settings">
      <ion-button>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Already got our recovery mail?</ion-card-subtitle>
  <ion-card-title>
    <ion-item lines="none">
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    <h2>Update your password</h2>
  </ion-item>
  </ion-card-title>
  <ion-card-subtitle>Click on the link included in the mail and the following details will be automatically filled in:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
  <form [formGroup]="recoveryForm" (ngSubmit)="resetPassword()" >
  <div>
    <ion-item>
      <ion-label color="medium" position="stacked">Userid</ion-label>
      <ion-input color="medium" formControlName="recoveryUserId" type="text" required></ion-input>
    </ion-item>
  <ion-item>
    <ion-label color="medium" position="stacked">Secret</ion-label>
    <ion-input color="medium" formControlName="recoverySecret" type="text" required></ion-input>
  </ion-item>
  <br>
  <h3>Please enter a new password:</h3>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" clearOnEdit="false" formControlName="password" required></ion-input>
    </ion-item>
    <ion-label class="validationIndicator" position="start" *ngIf="recoveryForm.get('password').touched && recoveryForm.get('password').errors" color="danger">Password length must be between {{getPWMinLength()}} - {{getPWMaxLength()}}</ion-label> 

    <ion-item>
      <ion-label position="stacked">Repeat Password</ion-label>
      <ion-input type="password" clearOnEdit="false" formControlName="repeatPassword" required></ion-input>
    </ion-item>
    <ion-label class="validationIndicator" position="start" color="danger" *ngIf="recoveryForm.get('repeatPassword').touched && recoveryForm.get('password').value != recoveryForm.get('repeatPassword').value">Passwords do not match</ion-label> 

    <input type="submit" style="display: none" />
    <ion-button type="submit" color="primary" expand="block" [disabled]="!recoveryForm.valid || recoveryForm.get('password').value != recoveryForm.get('repeatPassword').value">Reset pasword</ion-button>
  </div>
  </form>
</ion-card-content>
</ion-card>

</ion-content>